:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-size: 1.6rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}