:root {
  --body-background-color: #fff;
  --icon-color: #323238;
  --card-color: #E1E1E6;
  --selected-card-color: #039bc9;
  --controller-button-hover-color: #42D3FF;


  --body-background-color-dark: #121214;
  --icon-color-dark: #fff;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
}

svg path {
  fill: var(--icon-color);
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;

  user-select: none;
  background-color: var(--body-background-color);
}

body.dark {
  background-color: var(--body-background-color-dark);
}

button {
  cursor: pointer;
}

.toggle-light-dark-mode {
  position: absolute;
  top: 6rem;
  right: 6rem;

  transition: .1s;
  cursor: pointer;
}

.toggle-light-dark-mode.dark svg path {
  fill: var(--icon-color-dark);
}

.toggle-light-dark-mode:hover {
  filter: drop-shadow(1px 1px 1px var(--icon-color));
  transform: scale(1.1);
}

.toggle-light-dark-mode.dark:hover {
  filter: drop-shadow(1px 1px 1px var(--icon-color-dark));
  transform: scale(1.1);
}

main {
  display: flex;
  gap: 19rem;
}

.timer-container {
  display: grid;
  place-content: center;
  row-gap: 1.6rem;

  text-align: center;
}

.timer {
  display: flex;

  font-size: 12.5rem;

  color: var(--icon-color)
}

.timer.dark {
  color: var(--body-background-color);
}

.controls {
  padding: 2rem 4rem;

  background-color: var(--icon-color);
  border-radius: 100rem;
}

.controls.dark {
  background-color: var(--body-background-color);
}

.icons-1, .icons-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.2rem;
}

.controls svg:hover path, .controls.dark svg:hover path {
  fill: var(--controller-button-hover-color);
}

.icons-1.hidden, .icons-2.hidden {
  display: none;
}

.controls svg {
  background-color: var(--icon-color);
}

.controls.dark svg {
  background-color: var(--body-background-color);
}

.controls svg path {
  fill: var(--body-background-color);
}

.controls.dark svg path {
  fill: var(--icon-color);
}

.controls button {
  height: 5.2rem;
}

.sound-container {
  width: max(31rem);
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}

.card {
  padding: 2.4rem 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
  justify-content: center;
  align-items: center;

  background-color: var(--card-color);
  border-radius: 2.4rem;
  transition: .1s;
}

.card:hover {
  filter: drop-shadow(1px 1px 1px var(--icon-color));
  background-color: var(--icon-color);
}

.card:hover svg path {
  fill: var(--body-background-color);
}

.card:hover>.input-range {
  background-color: var(--body-background-color);
}

.card:hover .input-range::-moz-range-thumb {
  background-color: var(--body-background-color);
}

.card:hover .input-range::-ms-range-thumb {
  background-color: var(--body-background-color);
}

.card:hover .input-range::-webkit-slider-thumb {
  background-color: var(--body-background-color);
}

.card input[type=checkbox] {
  display: none;
}

.input-range {
  -webkit-appearance: none;
  appearance: none;
  width: 9rem;
  height: 0.4rem;
  border-radius: .5rem;
  background-color: var(--icon-color);
  outline: none;
  transition: background-color .1s;
}

.input-range::-moz-range-thumb {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: var(--icon-color);
  border: none;
  transition: background-color .1s
}

.input-range::-ms-range-thumb {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: var(--icon-color);
  border: none;
  transition: background-color .1s
}

.input-range::-webkit-slider-thumb {

  -webkit-appearance: none;
  border: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: var(--icon-color);
  transition: background-color .1s
}

.card.selected {
  background-color: var(--selected-card-color);
}

.card.selected svg path {
  fill: var(--body-background-color);
}

.card.selected .input-range {
  background-color: var(--body-background-color);
}

.card.selected .input-range::-moz-range-thumb {
  background-color: var(--body-background-color);
}

.card.selected .input-range::-ms-range-thumb {
  background-color: var(--body-background-color);
}

.card.selected .input-range::-webkit-slider-thumb {
  background-color: var(--body-background-color);
}

.card.selected:hover {
  filter: drop-shadow(1px 1px 1px var(--icon-color)) brightness(110%);
}